:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --greyish-blue: hsl(227, 10%, 46%);
}

@media screen and (min-width: 950px)
  {
    body {
    background-position: right 51vw bottom 40vh, left 49vw top 50vh; 
  }
  }

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 40vh, left 50vw top 40vh;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: 18px;
  color: var(--dark-blue);
}

p {
  font-size: 14px;
  color: var(--greyish-blue);
}

hr {
  position: relative;
  bottom: 50px;
  border: none;
  height: 1px;
  background-color: hsla(227, 10%, 46%, 0.171);
}

ul {
  position: relative;
  bottom: 35px;
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  position: absolute;
  top: 700px;
}

.age {
  font-weight: normal;
  color: var(--greyish-blue);
}

.card-container {
  width: 320px;
  height: 375px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.308);
}

.card-banner {
  border-radius: 16px 16px 1px 1px;
  width: 320px;
}

.victors-picture {
  border-radius: 50%;
  border: solid 6px white;
  position: relative;
  bottom: 57px;
}

.name-and-age {
  position: relative;
  bottom: 55px;
}

.location {
  position: relative;
  bottom: 60px;
}

.profile-stats {
  position: relative;
  bottom: 39px
}

.stat-number {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-blue);
}

.stat-name {
  font-weight: thin;
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 5px;
  color: var(--greyish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: var(--dark-blue);
}
